{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}


<h1> {{ post.title }}</h1>

<small> 
    by: {{ post.author }} - {{ post.post_date }}
    
    {% if user.is_authenticated %}

        <a href="{% url 'update-post' post.pk %}">EDIT</a> *

        <a href="{% url 'delete-post' post.pk %}">DELETE POST</a>

    {% endif %}
    

</small>
<br>
<hr>
<br>
{{ post.body|safe }}
{{ post.status }}

<br>
<br>
<a href="{% url 'frontpage' %}" class="btn btn-secondary">BACK</a>

{% endblock %}