{% extends 'base.html' %}
{% block title %} Super blogpost {% endblock %}
{% block content %}
<h1>Blog Post</h1>
<ul>
{% for post in object_list %}
    <li> <a href="{% url 'article-detail' post.pk %}"> 
        {{ post.title }}</a>


        <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
        {{ post.category }}

        </a> {{ post.auth }} - {{ post.slug }} <br>
        author: {{ post.author }} <br>
        cat: {{ post.category }} - {{ post.post_date }}
        
        <br>

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}


                <a href="{% url 'update-post' post.pk %}">EDIT</a> --

                <a href="{% url 'delete-post' post.pk %}">DELETE POST</a>
            {% endif %}     
        {% endif %}

        {{ post.body }}
        {{ post.status }}
        
    </li>
    <hr>
    <br>
{% endfor %}
</ul>




{% endblock %}