{% extends 'base.html' %}

{% block title %} Edit My Blog Post {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}


<h1>Edit Blog Post</h1>
<br>
<br>
<div class="from-group">
    {% load static %}
    <script src="{% static 'django_ckeditor_5/ckeditor5/ckeditor.js' %}"></script>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Update</button>
    </form>
</div>
<hr>
<br>
{% endif %}
{% else %}
You need to login or register, to make changes
{% endif %}
{% endblock %}