{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}


<h1>Login Post</h1>
<br>
<br>
<div class="from-group">
    <form method="POST">

        {% csrf_token %}

        <div class="from-group">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" name = "username" placeholder = "Username" id="InputEmail1" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
         </div>
         <div class="from-group">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name= "password" placeholder = "Password" id="exampleInputPassword1">

         </div>
<br>
        <!-- {{ form.as_p }} -->
        <button class="btn btn-secondary">Update</button>
    </form>
</div>
<br>
<div 
    id="emailHelp" class="form-text">Not Registered? , Sign up <a href="{% url 'register' %}">Here</a>
</div>

    
{% endblock %}